<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<%- include('./partials/layout-start', { title: title }) %>
<%- include('./partials/menu') %>

<h1 class="mb-3">Книга: <%= book.title %></h1>

<div class="card">
  <div class="card-body">
    <p>Автор: <%= book.authors %></p>
    <p>Описание: <%= book.description %></p>
    <p>Понравилась: <%= book.favorite %></p>
    <p>Скачать книгу: <a href="<%= book.fileBook %>">скачать</a></p>
    <div class="text-right">
      <a class="btn btn-sm btn-primary" href="/books/update/<%= book._id %>">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
      <form action="/books/delete/<%= book._id %>" method="POST" class="d-inline">
        <button class="btn btn-sm btn-danger">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>

  <!-- Блок с чатом -->
  <div class="card-body" style="display: flex; flex-direction: column; gap: 30px;">
    <form name="chatMsg" style="display: flex; flex-direction: column; gap: 30px;">
      <input type="text" id="userName" name="username" placeholder="Ваше имя" style="width: 250px;" />
      <input type="text" id="userMsg" name="userMsg" placeholder="Введите сообщение" style="width: 500px;" />
      <button type="button" id="btnSend" style="width: 150px;">Отправить</button>
    </form>
    <textarea id="textChat" name="textChat" placeholder="Чат" 
      style="width: 90%; height: 150px; resize: none;" readonly></textarea>
  </div>
</div>


<script>
    const currentRoom = location.pathname.split('/').pop();
    const socket = io.connect('/', {query: `roomName=${currentRoom}`})

    const userName = document.querySelector('#userName');
    const userMsg = document.querySelector('#userMsg');  // 
    const btnSend = document.querySelector('#btnSend');  // 
    const textChat = document.querySelector('#textChat');

    btnSend.addEventListener('click', () => {
      console.log('click')
      const msg = userMsg.value.trim();
      if (msg) {
        socket.emit('sendMessage', { roomName: currentRoom, message: msg });
        userMsg.value = '';  // Очищаем поле ввода
      }
    });

    socket.on('message', (msg) => {
      textChat.value += `${msg}\n`;  // Добавляем сообщение в текстовое поле
    });
</script>

<%- include('./partials/layout-end') %>